.container{
    padding: 20px;
    width: 100%;
}
.data{
    width:100%;
    margin: 20px auto;
}
.datawrapper{
    display: flex;
    justify-content: center;
}
.div1{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.div1 p{
    margin-right: 30px;
}
.input{
    margin-right: 30px;
    padding: 15px 40px;
    background-color: white;
    border:  1px solid lightgray;
    color: black;
    font-size: 17px;
}
.input:active{
    border: 1px solid #007bff !important;
}
.addbtn{
    padding: 15px;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    font-weight: 600;
    border: none;
    font-size: 20px;   
}
.resetbtn{
    margin-left: 15px;
    padding: 15px;
    margin-right: 7px;
    color: white;
    background-color: red;
    border: none;
    border-radius: 5px;
    font-size: 20px;
}


/*--below about data css--*/

.increment{
    padding: 7px 10px;
    margin-right: 7px;
    color: white;
    background-color: gray;
    border: none;
    border-radius: 5px;
}
.decrement{
    padding: 7px 10px;
    margin-right: 7px;
    color: white;
    background-color: gray;
    border: none;
    border-radius: 5px;
}
.personCounter p{
    font-size: 20px;
    font-weight: 600;
    padding: 5px 14px;
    margin-top: -2px;
    border-radius: 10px;
    margin-right: 10px;
}
.edit{
    margin: 0px 10px;
    padding: 10px 15px;
    margin-right: 7px;
    color: white;
    background-color: rgb(63, 175, 175);
    border: none;
    border-radius: 5px;
}
.savebtn{
    margin: 0px 10px;
    padding: 10px 15px;
    margin-right: 7px;
    color: white;
    background-color: rgb(63, 175, 175);
    border: none;
    border-radius: 5px;
}
.delete{
    margin: 0px 10px;
    padding: 10px 15px;
    margin-right: 7px;
    color: white;
    background-color: red;
    border: none;
    border-radius: 5px;
}

.datetime p{
   font-size: 27px;
   font-weight: 700;
   background-color: red;
   color: white;
   padding: 3px;
   margin-left: 10px;
   border-radius: 7px;
}
.text{
    font-size: 18px;
}