*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif !important;
}
.cardContainer{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #edfaf2;
}
.calcucardWrapper{
  width: 100%;
  padding: 50px;
}
.statement{
    font-weight: regular;
    font-size: 25px;
}
.calc{
    margin-bottom: -2px;
}
.calcucard{
    width: 960px;
    max-width: 100%;
    margin: 20px auto;
}
.calcuHeader{
    background-color:#2fc772;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 60px;
}
.calcuHeader p{
    font-size: 25px;
    line-height: 30px;
}
.cardBottom{
   background-color: rgb(255, 255, 255);
   text-align: left;
}
.cardBottomDiv1{
    display: flex;
    justify-content: space-evenly;
    border-bottom: 1px solid rgb(233, 232, 232); 
    height: 60px;
    align-items: center;
    text-align: left;
}
.cardBottomDiv2{
    display: flex;
    justify-content: space-evenly;
    text-align: left;
    height: 60px;
    align-items: center;
}
.label{
    font-weight: 550;
    font-size: 18px;  
}
.data{
    font-weight: 550;
    font-size: 18px;
}
.input{
    border: 1px solid white;
    background-color: transparent;
    padding: 8px 10px;
    text-align: center;
    color: #deeee5;
    width: 200px;
}
::placeholder{
    color: #c9f3dc;
    font-size: 18px;
}
.pkr{
    border-top: 1px solid white;
    border-right:  1px solid white;
    border-bottom: 1px solid white ;
    padding: 8px 5px 8px 5px;
    font-size: 13px;
    color: white;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

@media only screen and (max-width: 768px){
    .calcucardWrapper{
      width: 100%;
      padding: 20px;
    }

}

@media only screen and (max-width: 500px){
    .calcucardWrapper{
      padding: 10px;
    }
    .calc{
        margin-bottom: -2px;
    }
    .calcucard{
        max-width: 100%;
        margin: 10px auto;
    }
    .calcuHeader p{
        font-size: 18px;
        line-height: 20px;
    }
  
    .input{
        border: 1px solid white;
        background-color: transparent;
        padding: 8px 10px;
        text-align: center;
        color: #deeee5;
        width: 150px;
    }
    ::placeholder{
        color: #c9f3dc;
        font-size: 18px;
    }
    .pkr{
        border-top: 1px solid white;
        border-right:  1px solid white;
        border-bottom: 1px solid white ;
        padding: 8px 5px 8px 5px;
        font-size: 13px;
        color: white;
    }
    input:focus,
    select:focus,
    textarea:focus,
    button:focus {
        outline: none;
    }
}

@media only screen and (max-width: 400px){
    .calcucardWrapper{
      padding: 10px;
    }
    .calc{
        margin-bottom: -2px;
    }
    .calcucard{
        max-width: 100%;
        margin: 10px auto;
    }
    .calcuHeader p{
        font-size: 18px;
        line-height: 20px;
    }
  
    .input{
        border: 1px solid white;
        background-color: transparent;
        padding: 8px 10px;
        text-align: center;
        color: #deeee5;
        width: 120px;
    }
    ::placeholder{
        color: #c9f3dc;
        font-size: 16px;
    }
    .pkr{
        border-top: 1px solid white;
        border-right:  1px solid white;
        border-bottom: 1px solid white ;
        padding: 8px 5px 8px 5px;
        font-size: 13px;
        color: white;
    }
    input:focus,
    select:focus,
    textarea:focus,
    button:focus {
        outline: none;
    }
}

@media only screen and (max-width: 350px){
    .calcucardWrapper{
      padding: 10px;
    }
    .calc{
        margin-bottom: -2px;
    }
    .calcucard{
        max-width: 100%;
        margin: 10px auto;
    }
    .calcuHeader p{
        font-size: 14px;
        line-height: 20px;
    }
  
    .input{
        border: 1px solid white;
        background-color: transparent;
        padding: 8px 5px;
        text-align: center;
        color: #deeee5;
        width: 80px;
        font-size: 13px;
    }
    ::placeholder{
        color: #c9f3dc;
        font-size: 10px;
    }
    .pkr{
        border-top: 1px solid white;
        border-right:  1px solid white;
        border-bottom: 1px solid white ;
        padding: 8px 5px 8px 5px;
        font-size: 13px;
        color: white;
    }
    input:focus,
    select:focus,
    textarea:focus,
    button:focus {
        outline: none;
    }
}